@model BrighterDayBouquet.ViewModels.Web.ProductDetailsViewModel

@{
    ViewData["Title"] = "Product Details";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



<div class="container mt-3 px-4 py-2 item-shadow">
    <!-- Product Details-->
    <div class="d-flex flex-row justify-content-between">
        <h2 class="flex-column">@Model.ProductName</h2>
        <span class="flex-column text-muted">(#@Model.ProductCode)</span>
    </div>
    <div class="d-flex flex-row p-d-wrap">
        <img class="rounded" src="@Model.MainImage" alt="@Model.MainImageAltText" />
        <div class="p-d-description">
            <div class="p-d-text">@Model.ProductDescription</div>
            <div class="p-d-purchace">
                <form asp-action="AddToCart" asp-controller="Cart" method="post">
                    <input type="hidden" value="@Model.ProductCode" name="productCode" />
                    <div class="text-center">
                        <button class="btn btn-success mt-sm-2" type="submit">Add To Cart <i class="fa fa-shopping-cart"></i></button>
                    </div>
                    <div class="text-center">
                        @Model.UnitPrice.ToString("C")
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Product Details -->
</div>
